* {
  box-sizing: border-box; /* includes padding/border in width */
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;

}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 3px solid white;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
}

.navbar li {
    margin: 0 15px;
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}
.navbar a:hover {
    color: white;
}
/* HEADER ENDS */

.hero-img-container {
    position: relative;
    object-position: top;
    height : 500px;
    overflow: hidden;
}

.hero-img-container img {
    width: 100%;
    height: auto;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}
/* HERO IMAGE ENDS */
/* EVERYDAY CATEGORIES */

.everyday-categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    margin: 10px 0;
}
.everday-categories-inner {
    max-width: 1200px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.everyday-categories-container h2 {
    font-size: 45px;
    padding: 10px;
}

.everyday-categories-container p {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px;
}

.labels-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.labels-images img {
    flex: 1;
    width: 380px;
    height:350px;
    object-fit: cover;
    border-radius: 5px;
} 
.labels-images span{
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}
/* EVERYDAY CATEGORIES ENDS */
/* HEALTHY RECIPES OF THE WEEK */ 
.hlthy-r-container { display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 100%; 
    background-color: rgb(111, 133, 150); 
    overflow-x: hidden;
} 
.hlthy-r-inner { 
    max-width: 1200px;
    align-items: center; 
    width: 100%; 
    padding: 30px 15px;
    box-sizing: border-box;
    } 
.hlthy-r-container h2 { 
    font-size: 45px; 
    text-align: left; 
    }
.hlthy-r-container p { 
    font-size: 20px; 
    color: rgb(0, 0, 0); 
    } 
/* images */
.hlthy-r-images { 
    display: flex;
    flex: 1; 
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
}

.hlthy-r-images > div{
  flex: 1 1 220px; 
  max-width: 280px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hlthy-r-images img { 
    width: 100%;
    object-fit: cover; 
    border-top-right-radius: 5px; 
    border-top-left-radius: 5px; 
    max-width: 100%;
} 
.hlthy-r-images span { 
    display: block; 
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 10px 0 10px 0; 
    font-size: 20px; 
    background-color: rgb(255, 253, 253); 
    border-bottom-right-radius: 5px; 
    border-bottom-left-radius: 5px; 
    margin-bottom: 20px; 
}


/* HEALTHY RECIPES OF THE WEEK ENDS */
/*WHERE TO EAT SECTION*/
.wte-cont { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    margin: 10px 0;
}
.wte-inner {
    max-width: 1200px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.wte-inner h2 {
    font-size: 45px;
    padding: 10px;
}

.wte-inner p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px;
}

.wte-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.wte-images img {
    flex: 1;
    width: 360px;
    height:360px;
    object-fit: cover;
    border-radius: 5px;

    border: 10px solid rgb(99, 99, 99);
} 
.wte-images span{
    font-size: 25px;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

/*footer starts*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: sticky;
    background-color: orange;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p {
    font-size: 15px;
    font-weight: bold;
    margin: 0;
}
.footbar {
    display: flex;   
    gap: 20px;    
    margin: 0;
    padding: 0;
}
.footbar li {
    list-style: none;
}

.footbar a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.footbar a:hover {
    color: white;
}

/* start of recipes page */


* {
  box-sizing: border-box; /* includes padding/border in width */
}

body {
    margin: 0px;
    font-family: 'Oswald', sans-serif;
    overflow-x: hidden;

}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    align-items: center;
    width: 100%;
    height: 100px;

}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 40px;
}

.navbar li {
    margin: 0 15px;
    font-size: 20px;
    list-style: none;
    padding: 0;
}

.navbar a {
    text-decoration: none;
    color: black;
}
.navbar a:hover {
    color: white;
}
/* HEADER ENDS */
/* hero section starts*/
.hero-bg {
  background-image: url("../images/burger-hero.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: clamp(300px, 55vh, 700px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.herorcp-img {
    width: 100%;
    height: auto;
}
.herorcp-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border-bottom: 5px solid white;
}
/* hero-section ends */
.rcp-time {
    background-color: rgb(111, 133, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;
}
.rcp-time-inner {
    max-width: 1200px;
}
.rcp-time h2{
    font-size: 40px;  
}

.rcp-time span {
    display: inline-block;
    font-size: 25px;
    text-align: center;
    padding: 20px;
}
/* time section ends*/
/*type of recipe section starts*/

.bengal-burger{
    margin: 0; 
    text-align: center;
}
.rvw-cont {
    display: flex;
    justify-content: center;
}
.bengal-burger h1{
    font-size: 50px;
}
.star-btn {
border: none;
background-color: white;
color: rgb(85, 0, 0);
font-size: 25px;
cursor: pointer;
}
.reviews {
    font-size: 25px;
    padding-bottom: 10px;
}
.saving {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 15px; 
}

.save-btn {
    font-size: 25px;
    padding: 10px 15px 10px 15px;
    background-color: rgb(85, 0, 0);
    color: white;
    border: none;
    border-radius: 40px;
}
.printer {
   width: 50px;
   height: 50px;
   border: 4px solid rgb(104, 104, 104);
   border-radius: 50%;
   overflow: hidden;
   background-color: white;
   cursor: pointer;
}

.printer img {
    width: 100%;
    display: block;
}

.quote {
    font-size: 20px;
    background-color: rgb(185, 185, 200);
    padding: 20px;
    margin: 20px 0 20px 0;
    color: rgb(80, 80, 80);
}

.ingr-dir {
width: 100%;
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
}
.ingr-dir h2{
    font-size: 35px;
}
.ingr-dir li{
    font-size: 25px;
}
.ingredient-cont {
    display: flex;
    justify-content: flex-start;
    flex-direction: column; 
}


.directions {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.directions span{
    font-weight: bold;
    font-size: 30px;
    padding: 5px;
}

.vid-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.vid-cont iframe{
    width: 450px;
    height: 350px;
    border-color: black;
}






